body {
    background-color: #DDDD;
}

li {
    list-style: none;
}

@media (max-width: 870px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 70%;
    }
}

@media (max-width: 300px) {
    html {
        font-size: 50%;
    }
}